
* { 
	box-sizing: border-box;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}

/* # game  */

html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}

#game {
	margin: 50px auto;
	width: 600px;
	display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
	align-content: space-around;
	justify-items: stretch;
	gap: 10px;
}

#game div {
  border: 1px solid black;
  /* width: 15%; */
  /* height: 200px; */
  /* height: 150px; */
	/* width: 150px; */
  /* margin: 10px; */
  /* display: inline-block; */
}





