div {
  /* border: 1px solid salmon; */
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

#drawn-card {
  float: left;
  position: relative;
}

#div-3 {
  /* width: 50%;
  height: 50%; */
}

img {
  position: absolute;
  top: 0;
  left: 0;
}

.button-div {
  margin: auto;
}

.center-stuff {
  display: flex;
  justify-content: center;
  align-items: center;
}