
body {
  background: linear-gradient(135deg, maroon, #6bcbff);
}

/* #main {
background-color: #fff0d1;
} */

#img-div {
background-color: #fff;
width: 50%;
margin: 0 auto;
}

/* * {
text-align: center;
} */

.info {
  color: #6bcbff;
  text-align: center;
}

/* ul > li {
  font-style: italic;
} */

.info-box {
width: 50%;
margin: 0 auto;
}