body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;

  /* text-align: center; */

}

/* body, .main-container, form {
  border: 2px solid red;
} */

.main-container {
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* text-align: center; */


}

input {
  width: 90%;
}

#yatan-para {
  width: 90%;
}